body {
    font-family: 'Bubblegum Sans', cursive;
    font-family: 'Cherry Cream Soda', cursive;
    background-image: url('../images/90s-Wallpaper.jpg');
    background-repeat: repeat;
}

.container {
    width: 80%;
    text-align: center;
}

.card {
    margin: 0 auto;
    height: 100%;
}

#currentWord {
    font-stretch: expanded;
    font-size: 200%;
    letter-spacing: 5px;
}

.jumbotron {
    background-image: url('../images/Word\ Guess\ bg.png');
    background-size: cover;
    font-weight: bold;
}

.messageDisplayText {
    padding: 5px 5px;
}